ConfigObj
Flask
Flask-KVSession
Flask-SeaSurf
uWSGI

# PIP version of python-valve is too old, and does have Unicode support
# Download python-valve from Github instead
git+https://github.com/Holiverh/python-valve@master#egg=python-valve
