[Unit]

Description=RCON-Web server
ConditionPathExists=/srv/rcon-web/rcon-web
After=network.target

[Service]

Type=simple
User=rcon-web
Group=rcon-web
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/srv/rcon-web
Environment=RCON_CONF=/srv/rcon-web/.rconrc
ExecStart=/srv/rcon-web/rcon-web

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rcon-web

[Install]

WantedBy=multi-user.target
