/* General */

.display-none {
	display: none;
}

.no-margin-left {
	margin-left: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

/* Hide Google maps logo/terms */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
	display: none;
}
