/* General */

.display-none {
	display: none;
}

.no-margin-left {
	margin-left: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

/* Errors */

.content > .error {
	min-height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
}
