/*
 * AdminLTE rcon-web skin
 * -----------
 */

/* header */

.skin-nostromo .main-header {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

/* header navigation bar */

.skin-nostromo .main-header .navbar-toggle {
	color: #333;
}
.skin-nostromo .main-header .navbar-brand {
	border-right: 1px solid #eee;
	color: #333;
}
.skin-nostromo .main-header .navbar {
	background-color: #fff;
	border-bottom: 1px solid #ddd !important;
}
.skin-nostromo .main-header .navbar .nav > li > a {
	color: #333;
}
.skin-nostromo .main-header .navbar .nav > li > a:hover,
.skin-nostromo .main-header .navbar .nav > li > a:active,
.skin-nostromo .main-header .navbar .nav > li > a:focus,
.skin-nostromo .main-header .navbar .nav .open > a,
.skin-nostromo .main-header .navbar .nav .open > a:hover,
.skin-nostromo .main-header .navbar .nav .open > a:focus,
.skin-nostromo .main-header .navbar .nav > .active > a {
	background: #fff;
	color: #999;
}
.skin-nostromo .main-header .navbar .sidebar-toggle {
	color: #333;
}
.skin-nostromo .main-header .navbar .sidebar-toggle:hover {
	background: #fff;
	color: #999;
}
.skin-nostromo .main-header .navbar > .sidebar-toggle {
	border-right: 1px solid #eee;
	color: #333;
}
.skin-nostromo .main-header .navbar .navbar-nav > li > a {
	border-right: 1px solid #eee;
}
.skin-nostromo .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
	border-left: 1px solid #eee;
	border-right-width: 0;
	cursor: pointer;
}

/* logo */

.skin-nostromo .main-header > .logo {
	color: #999;
}
.skin-nostromo .main-header > .logo:hover {
	color: #fff;
}

@media (max-width: 767px) {
	.logo {
		display: none !important;
	}
	.logo-mobile {
		color: #333333 !important;
		display: block !important;
		float: left !important;
		width: auto !important;
	}

	.fixed .content-wrapper,
	.main-sidebar,
	.left-side,
	.right-side {
		padding-top: 50px;
	}
}

@media (min-width: 768px) {
	.logo-mobile {
		display: none !important;
	}
}

/* general */

.skin-nostromo .main-sidebar {
	background-color: #222;
}
.skin-nostromo .content-wrapper {
	background-color: #eee;
}

/* sidebar */

.skin-nostromo .sidebar-menu > li > a {
	border-left: 3px solid transparent;
}
.skin-nostromo .sidebar-menu > li:hover > a {
	background: #111;
}
.skin-nostromo .sidebar-menu > li.active > a {
	border-left-color: #ddd;
	color: #ddd;
}
.skin-nostromo .sidebar-menu > li > .treeview-menu {
	background: #222;
	margin: 0 1px;
}
.skin-nostromo .sidebar a {
	color: #999;
}
.skin-nostromo .sidebar a:hover {
	text-decoration: none;
}

/* breadcrumb */

.content-header > .breadcrumb > li > .fa,
.content-header > .breadcrumb > li > .glyphicon,
.content-header > .breadcrumb > li > .ion {
	margin-right: 5px;
}

@media (max-width: 991px) {
	.content-header > .breadcrumb {
		background: #ddd;
	}
	.content-header > .breadcrumb li:before {
		color: #aaa;
	}
}

/* tables */

.table-hover > tbody > tr:first-child {
	background-color: #fff !important;
}

/* login */

.login-box {
	margin: 0 !important;
	width: 250px !important;
}
