{{ define "title" }}Bots{{ end }}
{{ define "icon" }}laptop{{ end }}
{{ define "description" }}Settings{{ end }}
{{ define "css" }}{{ end }}
{{ define "content" }}{{ end }}
{{ define "scripts" }}{{ end }}
