<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="ui container">

			<h2 class="ui center aligned header">{{ title }}</h2>

			<div class="ui one cards">
				<div class="ui card">
					<div class="content">
						<div class="header">
							Players
						</div>
						<div class="meta">
							<span class="category">{{ players_status }}</span>
						</div>
						<div class="description">
							<table class="ui unstackable selectable table rcon-unselectable">
								<thead>
									<tr>
										<th>Name</th>
										<th>Steam ID</th>
									</tr>
								</thead>
								<tbody>
									{% for player in players %}
									<tr>
										<td class="user_action" data-name="{{ player.name }}" data-value="{{ player.value }}">{{ player.name }}</td>
										<td class="user_action" data-name="{{ player.name }}" data-value="{{ player.value }}">{{ player.value }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="ui card">
					<div class="content">
						<div class="header">
							Maps
						</div>
						<div class="meta">
							<span class="category">{{ maps_status }}</span>
						</div>
						<div class="description">
							<table class="ui unstackable selectable table rcon-unselectable">
								<thead>
									<tr>
										<th>Name</th>
									</tr>
								</thead>
								<tbody>
									{% for map in maps %}
									<tr>
										<td class="map_action" data-name="{{ map.name }}" data-value="{{ map.value }}">{{ map.name }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui small basic modal user_dialog">
			<div class="ui icon header">
				<i class="ban icon"></i>
				Ban/kick user
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to ban/kick user <b class="value-user"></b>?</p>
				<p>
					Message:
					<div class="four ui buttons">
						<div class="ui inverted button rcon-button-ban-msg" data-value="AFK">AFK</div>
						<div class="ui inverted button rcon-button-ban-msg" data-value="GTFO">GTFO</div>
						<div class="ui inverted button rcon-button-ban-msg" data-value="NAZI">NAZI</div>
						<div class="ui inverted button rcon-button-ban-msg" data-value="TK">TK</div>
					</div>
				</p>
				<p>
					Period:
					<div class="six ui buttons">
						<div class="ui inverted button rcon-button-ban-period" data-value="0">P</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="60">1H</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="180">3H</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="1440">1D</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="4320">3D</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="10080">7D</div>
					</div>
				</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui yellow ok kick inverted disabled button">
					<i class="checkmark icon"></i>
					Kick
				</div>
				<div class="ui red ok ban inverted disabled button">
					<i class="checkmark icon"></i>
					Ban
				</div>
			</div>
		</div>

		<div class="ui small basic modal map_dialog">
			<div class="ui icon header">
				<i class="map icon"></i>
				Change map
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to change map to <b class="value-map"></b>?</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui red ok inverted button">
					<i class="checkmark icon"></i>
					Yes
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>

		<script>
			var name, value;
			$(function() {
				// Ban dialog button callbacks
				$('.rcon-button-ban-msg').on('click', function(e) {
					// Keep only one message selected
					$('.rcon-button-ban-msg').removeClass('active');
					$(this).toggleClass('active');
					// Enable kick/ban buttons
					$('.kick.button').removeClass('disabled');
					var message_selected = $('.rcon-button-ban-period.active').length;
					if (message_selected > 0) {
						$('.ban.button').removeClass('disabled');
					}
				});
				$('.rcon-button-ban-period').on('click', function(e) {
					// Keep only one period selected
					$('.rcon-button-ban-period').removeClass('active');
					$(this).toggleClass('active');
					// Enable ban button
					var message_selected = $('.rcon-button-ban-msg.active').length;
					if (message_selected > 0) {
						$('.ban.button').removeClass('disabled');
					}
				});

				// Open user dialog on user row click
				$('.user_action').click(function() {
					name  = $(this).data('name');
					value = $(this).data('value');
					$('.value-user').text(name);
					$('.user_dialog').modal('show');
				});

				// Open map dialog on map row click
				$('.map_action').click(function() {
					name  = $(this).data('name');
					value = $(this).data('value');
					$('.value-map').text(name);
					$('.map_dialog').modal('show');
				});

				// Configure user dialog callbacks
				$('.user_dialog').modal({
					onApprove: function(e) {
						if (e.hasClass('kick')) {
							var msg = $('.rcon-button-ban-msg.active').data('value');
							// TODO: Add rcon ajax call:
							//       kickid <value> <msg>
							location.reload(true);
						}
						else
						if (e.hasClass('ban')) {
							var msg = $('.rcon-button-ban-msg.active').data('value');
							var period = $('.rcon-button-ban-period.active').data('value');
							// TODO: Add rcon ajax call:
							//       banid <period> <value>
							//       kickid <value> <msg>
							location.reload(true);
						}
						// Reset button states
						$('.rcon-button-ban-msg').removeClass('active');
						$('.rcon-button-ban-period').removeClass('active');
						$('.kick.button').addClass('disabled');
						$('.ban.button').addClass('disabled');
					},
					onDeny: function(e) {
						// Reset button states
						$('.rcon-button-ban-msg').removeClass('active');
						$('.rcon-button-ban-period').removeClass('active');
						$('.kick.button').addClass('disabled');
						$('.ban.button').addClass('disabled');
					}
				});

				// Configure map dialog callbacks
				$('.map_dialog').modal({
					onApprove: function(e) {
						// TODO: Add rcon ajax call:
						//       changelevel <value>
						location.reload(true);
					}
				});
			});
		</script>
	</body>
</html>
