{{ define "title" }}Dashboard{{ end }}
{{ define "icon" }}dashboard{{ end }}
{{ define "description" }}Overview{{ end }}

{{ define "css" }}
	<style>
		.box .nav-stacked > li {
			display: block;
			padding: 10px 15px;
		}

		.dial {
			outline-color: transparent;
			outline-style: none;
		}

		.knob-label {
			padding-top: 10px;
		}

		.knob-row {
			padding-bottom: 10px;
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="row">
		<div class="col-sm-4 collapse" id="bots-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"><a href="{{ .site.URL }}/bots">Bots</a></h3>
				</div>
				<div class="box-footer no-padding">
					<div class="row knob-row">
						<div class="col-xs-4 text-center">
							<div class="knob-label">Amount</div>
							<input type="text" class="dial" data-readOnly="true" data-height="100" data-width="100" data-fgcolor="#0099CC" data-min="0" data-max="24" id="bots-amount">
						</div>
						<div class="col-xs-4 text-center">
							<div class="knob-label">Difficulty</div>
							<input type="text" class="dial" data-readOnly="true" data-height="100" data-width="100" data-fgcolor="#FF8800" data-min="0" data-max="3" id="bots-difficulty">
						</div>
						<div class="col-xs-4 text-center">
							<div class="knob-label">Damage</div>
							<input type="text" class="dial" data-readOnly="true" data-height="100" data-width="100" data-fgcolor="#CC0000" data-min="0" data-max="1" data-step="0.1" id="bots-damage">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 collapse" id="status-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Status</h3>
				</div>
				<div class="box-footer no-padding">
					<ul class="nav nav-stacked">
						<li>Name<span class="pull-right" id="status-name"></span></li>
						<li>IP<span class="pull-right" id="status-ip"></span></li>
						<li>OS<span class="pull-right" id="status-os"></span></li>
						<li>Version<span class="pull-right" id="status-version"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	{{/* jQuery-Knob */}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"
	        crossorigin="anonymous" integrity="sha256-2144q+NOM/XU6ZxSqRTJ8P0W/CkY6zXc6mXYt4+mF9s="></script>
	<script>
		function refresh_status()
		{
			$.ajax
			({
				url: api_url + '/status'
			})
			.done(function(data, status, jqxhr)
			{
				$('#bots-amount').val(data.bots).trigger('change');
				$('#bots-damage').val(data.damage).trigger('change');
				$('#bots-difficulty').val(data.difficulty).trigger('change');
				$('#bots-box').collapse('show');

				$('#status-name').html(data.hostname);
				$('#status-ip').html(data.ip);
				$('#status-os').html(data.os);
				$('#status-version').html(data.version);
				$('#status-box').collapse('show');
			})
			.fail(function(jqxhr, status, error)
			{
			});
		}

		$(function () {
			$(".dial").knob();
			refresh_status();
		});
	</script>
{{ end }}
