<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="ui container">

			<h2 class="ui center aligned header">{{ title }}</h2>

			<div class="ui one cards">
				<div class="ui card">
					<div class="content">
						<div class="header">
							Players
						</div>
						<div class="meta">
							<span class="category">{{ players_status }}</span>
						</div>
						<div class="description">
							<table class="ui unstackable selectable table rcon-unselectable">
								<thead>
									<tr>
										<th>Name</th>
										<th>Connected</th>
										<th>Ping</th>
									</tr>
								</thead>
								<tbody>
									{% for player in players|sort(attribute='name') %}
									<tr>
										<td class="user_action" data-name="{{ player.name }}" data-value="{{ player.steamid }}">{{ player.name }}</td>
										<td class="user_action" data-name="{{ player.name }}" data-value="{{ player.steamid }}">{{ player.connected }}</td>
										<td class="user_action" data-name="{{ player.name }}" data-value="{{ player.steamid }}">{{ player.ping }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="ui card">
					<div class="content">
						<div class="header">
							Maps
						</div>
						<div class="meta">
							<span class="category">{{ maps_status }}</span>
						</div>
						<div class="description">
							<table class="ui unstackable selectable table rcon-unselectable">
								<thead>
									<tr>
										<th>Name</th>
									</tr>
								</thead>
								<tbody>
									{% for map in maps %}
									<tr>
										<td class="map_action" data-name="{{ map.name }}" data-value="{{ map.value }}">{{ map.name }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="ui card">
					<div class="content">
						<div class="header">
							Configuration
						</div>
						<div class="meta">
							<span class="category">{{ config_status }}</span>
						</div>
						<div class="description">
							<table class="ui unstackable selectable table rcon-unselectable">
								<thead>
									<tr>
										<th>Option</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="config_count_action">Count</td>
									</tr>
									<tr>
										<td class="config_damage_action">Damage</td>
									</tr>
									<tr>
										<td class="config_difficulty_action">Difficulty</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui small basic modal user_dialog">
			<div class="ui icon header">
				<i class="ban icon"></i>
				Ban/kick user
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to ban/kick user <b class="value-user"></b>?</p>
				<p>
					Message:
					<div class="four ui buttons">
						<div class="ui inverted button rcon-button-ban-msg" data-value="AFK">AFK</div>
						<div class="ui inverted button rcon-button-ban-msg" data-value="GTFO">GTFO</div>
						<div class="ui inverted button rcon-button-ban-msg" data-value="NAZI">NAZI</div>
						<div class="ui inverted button rcon-button-ban-msg" data-value="TK">TK</div>
					</div>
				</p>
				<p>
					Period:
					<div class="six ui buttons">
						<div class="ui inverted button rcon-button-ban-period" data-value="60">1H</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="180">3H</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="1440">1D</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="4320">3D</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="10080">7D</div>
						<div class="ui inverted button rcon-button-ban-period" data-value="0">*</div>
					</div>
				</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui yellow ok kick inverted disabled button">
					<i class="checkmark icon"></i>
					Kick
				</div>
				<div class="ui red ok ban inverted disabled button">
					<i class="checkmark icon"></i>
					Ban
				</div>
			</div>
		</div>

		<div class="ui small basic modal map_dialog">
			<div class="ui icon header">
				<i class="map icon"></i>
				Change map
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to change map to <b class="value-map"></b>?</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui red ok inverted button">
					<i class="checkmark icon"></i>
					Yes
				</div>
			</div>
		</div>

		<div class="ui small basic modal config_dialog config_count_dialog">
			<div class="ui icon header">
				<i class="users icon"></i>
				Set bot count
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to set bot count?</p>
				<p>
					Count:
					<div class="five ui buttons">
						<div class="ui inverted button rcon-button-config-count" data-name="ins_bot_count_checkpoint" data-value="8">8</div>
						<div class="ui inverted button rcon-button-config-count" data-name="ins_bot_count_checkpoint" data-value="12">12</div>
						<div class="ui inverted button rcon-button-config-count" data-name="ins_bot_count_checkpoint" data-value="16">16</div>
						<div class="ui inverted button rcon-button-config-count" data-name="ins_bot_count_checkpoint" data-value="20">20</div>
						<div class="ui inverted button rcon-button-config-count" data-name="ins_bot_count_checkpoint" data-value="24">24</div>
					</div>
				</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui red ok config inverted disabled button">
					<i class="checkmark icon"></i>
					Apply
				</div>
			</div>
		</div>

		<div class="ui small basic modal config_dialog config_damage_dialog">
			<div class="ui icon header">
				<i class="heartbeat icon"></i>
				Set bot damage
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to set bot damage?</p>
				<p>
					Damage:
					<div class="four ui buttons">
						<div class="ui inverted button rcon-button-config-damage" data-name="bot_damage" data-value="0.4">0.4</div>
						<div class="ui inverted button rcon-button-config-damage" data-name="bot_damage" data-value="0.6">0.6</div>
						<div class="ui inverted button rcon-button-config-damage" data-name="bot_damage" data-value="0.8">0.8</div>
						<div class="ui inverted button rcon-button-config-damage" data-name="bot_damage" data-value="1.0">1.0</div>
					</div>
				</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui red ok config inverted disabled button">
					<i class="checkmark icon"></i>
					Apply
				</div>
			</div>
		</div>

		<div class="ui small basic modal config_dialog config_difficulty_dialog">
			<div class="ui icon header">
				<i class="spy icon"></i>
				Set bot difficulty
			</div>
			<div class="content rcon-center">
				<p>Are you sure you want to set bot difficulty?</p>
				<p>
					Difficulty:
					<div class="four ui buttons">
						<div class="ui inverted button rcon-button-config-difficulty" data-name="ins_bot_difficulty" data-value="0">0</div>
						<div class="ui inverted button rcon-button-config-difficulty" data-name="ins_bot_difficulty" data-value="1">1</div>
						<div class="ui inverted button rcon-button-config-difficulty" data-name="ins_bot_difficulty" data-value="2">2</div>
						<div class="ui inverted button rcon-button-config-difficulty" data-name="ins_bot_difficulty" data-value="3">3</div>
					</div>
				</p>
			</div>
			<div class="actions rcon-center">
				<div class="ui green cancel inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui red ok config inverted disabled button">
					<i class="checkmark icon"></i>
					Apply
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>

		<script src="{{ url_for('static', filename='index.js') }}"></script>
	</body>
</html>
