{{ define "title" }}Maps{{ end }}
{{ define "icon" }}map{{ end }}
{{ define "description" }}Select{{ end }}
{{ define "css" }}{{ end }}
{{ define "content" }}{{ end }}
{{ define "scripts" }}{{ end }}
