{{ define "title" }}Maps{{ end }}
{{ define "icon" }}map{{ end }}
{{ define "description" }}Select{{ end }}

{{ define "css" }}
	<style>
		.box .nav-stacked > li {
			display: block;
			padding: 10px 15px;
		}
		.list-group-item:first-child,
		.list-group-item:last-child {
			border-radius: 0;
		}
		.list-group-item {
			border-left: 0;
			border-right: 0;
		}

		div.list-group-item {
			cursor: pointer;
		}

		div.list-group-item:hover {
			background-color: #f5f5f5;
		}

		div.list-group-item.selected {
			background-color: #e0e0e0;
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="row">
		<div class="col-sm-4">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">List</h3>
				</div>
				<div class="box-body no-padding list-group" id="map-list">
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Action</h3>
				</div>
				<div class="box-body">
					<button type="button" class="btn btn-block btn-primary" id="change" disabled>Change</button>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	<script>
		var map_selected;

		function get_maps()
		{
			map_selected = null;

			$.ajax
			({
				url: api_url + '/maps'
			})
			.done(function(data, status, jqxhr)
			{
				$('#map-list').empty();

				$.each(data, function(i, map)
				{
					$('#map-list').append('<div class="list-group-item" data-map="' + map.map + '">' + map.name + '</div>');
				});
			})
			.fail(function(jqxhr, status, error)
			{
				console.log(error);
			});
		};

		$('#map-list').on('click', 'div', function(e)
		{
			if (map_selected)
			{
				map_selected.toggleClass('selected');
			}
			else
			{
				$('#change').removeAttr('disabled');
			}
			map_selected = $(this);
			map_selected.toggleClass('selected');
		});

		$('#change').click(function()
		{
			$('#change').prop("disabled", true);

			$.ajax
			({
				url: api_url + '/maps/' + map_selected.data('map')
			})
			.done(function(data, status, jqxhr)
			{
				/* TODO: add notification? */
				map_selected.toggleClass('selected');
				map_selected = null;
			})
			.fail(function(jqxhr, status, error)
			{
				/* TODO: show error */
				$('#change').prop("disabled", false);
			});
		});

		$(function () {
			get_maps();
		});
	</script>
{{ end }}
