{{ define "title" }}{{ .player }}{{ end }}
{{ define "icon" }}user{{ end }}
{{ define "description" }}Profile{{ end }}

{{ define "css" }}
	<style>
		.btn-group.justified {
			display: flex;
		}

		.box .nav-stacked > li {
			display: block;
			padding: 10px 15px;
		}

		.justified .btn {
			flex: 1;
		}

		.margin-bottom-5 {
			margin-bottom: 5px !important;
		}

		.map-body {
			height: 400px;
		}

		#map {
			height: 100%;
		}

		.widget-user-image {
			padding-top: 20px;
		}
	</style>
{{ end }}

{{ define "breadcrumb"}}
	<li><a href="{{ .site.URL }}/players"><i class="fa fa-users"></i> Players</a></li>
	<li class="active"><i class="fa fa-{{ template "icon" . }}"></i> {{ template "title" . }}</li>
{{ end }}

{{ define "content" }}
	<div class="row">
		<div class="col-sm-4 collapse" id="gone-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Info</h3>
				</div>
				<div class="box-body">
					Player has left server, but you still can ban him.
				</div>
			</div>
		</div>

		<div class="col-sm-4 collapse" id="info2-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Info</h3>
				</div>
				<div class="box-body">
					No info
				</div>
			</div>
		</div>

		<div class="col-md-4 collapse" id="info-box">
			<div class="box box-widget widget-user-2">
				<div class="box-header">
					<h3 class="box-title">Info</h3>
					<div class="widget-user-image">
						<img class="img-circle" id="player-avatar">
					</div>
					<h3 class="widget-user-username" id="player-name"></h3>
					<h5 class="widget-user-desc" id="player-id"></h5>
				</div>
				<div class="box-footer no-padding">
					<ul class="nav nav-stacked">
						<li>Duration<span class="pull-right" id="player-duration"></span></li>
						<li>Score<span class="pull-right" id="player-score"></span></li>
						<li>Name<span class="pull-right" id="player-steam-name"></span></li>
						<li>Profile<span class="pull-right"><a href="#" target="_blank" id="player-steam-profile">Link</a></span></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-4 collapse" id="map-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Location</h3>
				</div>
				<div class="box-body map-body">
					<div id="map"></div>
				</div>
				<div class="box-footer no-padding">
					<ul class="nav nav-stacked">
						<li>IP<span class="pull-right" id="player-ip"></span></li>
						<li>Ping<span class="pull-right badge" id="player-ping"></span></li>
						<li>Country<span class="pull-right" id="player-country"></span></li>
						<li>City<span class="pull-right" id="player-city"></span></li>
						<li>Time<span class="pull-right" id="player-time"></span></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Action</h3>
				</div>
				<div class="box-body">
					<div class="btn-group btn-group-toggle justified margin-bottom-5" data-toggle="buttons" id="reason">
						<label class="btn btn-primary"><input type="radio" data-value="AFK" >AFK</label>
						<label class="btn btn-primary"><input type="radio" data-value="GTFO">GTFO</label>
						<label class="btn btn-primary"><input type="radio" data-value="NAZI">NAZI</label>
						<label class="btn btn-primary"><input type="radio" data-value="TK"  >TK</label>
					</div>
					<div class="btn-group btn-group-toggle justified margin-bottom-5" data-toggle="buttons" id="period">
						<label class="btn btn-primary"><input type="radio" data-value="60"   >1H</label>
						<label class="btn btn-primary"><input type="radio" data-value="180"  >3H</label>
						<label class="btn btn-primary"><input type="radio" data-value="1440" >1D</label>
						<label class="btn btn-primary"><input type="radio" data-value="4320" >3D</label>
						<label class="btn btn-primary"><input type="radio" data-value="10080">7D</label>
						<label class="btn btn-primary"><input type="radio" data-value="0"    >*</label>
					</div>
					<button type="button" class="btn btn-block btn-warning" id="kick" disabled>Kick</button>
					<button type="button" class="btn btn-block btn-danger" id="ban" disabled>Ban</button>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	<script>
		var map, map_style;
		var player = '{{ .player }}';
		var period, reason;

		function initMap()
		{
			load_map_json(load_map_json_callback);
		}

		function load_map_json(callback)
		{
			var xobj = new XMLHttpRequest();
			xobj.overrideMimeType('application/json');
			xobj.open('GET', '{{ .site.URL }}/static/map-style.json', true);
			xobj.onreadystatechange = function()
			{
				if (xobj.readyState == 4 && xobj.status == '200')
				{
					callback(xobj.responseText);
				}
			};
			xobj.send(null);
		}

		function load_map_json_callback(response)
		{
			map_style = JSON.parse(response);

			var styled_map_type = new google.maps.StyledMapType(map_style, {name: 'Map'});
			map = new google.maps.Map(document.getElementById('map'), {
				zoom: 6,
				center: {
					lat: 0,
					lng: 0
				},
				mapTypeControlOptions: {
					mapTypeIds: ['satellite', 'styled_map']
				},
				mapTypeControl: false,
				streetViewControl: false,
			});

			map.mapTypes.set('styled_map', styled_map_type);
			map.setMapTypeId('styled_map');

			map_initialized();
		}

		function map_initialized()
		{
			$.ajax
			({
				url: api_url + '/players/' + player
			})
			.done(function(data, status, jqxhr)
			{
				/* Info */

				$('#player-avatar').attr('src', data.steam.avatarfull);
				$('#player-name').html(data.name);
				$('#player-id').html(data.id);

				$('#player-ip').html(data.ip);
				$('#player-ping').html(data.ping);
				$('#player-duration').html((new Date(data.duration * 1000)).toISOString().substr(11, 8));
				$('#player-score').html(data.score);
				$('#player-steam-name').html(data.steam.personaname);
				$('#player-steam-profile').attr('href', data.steam.profileurl);

				if (data.ping < 100)
				{
					ping_color = 'green';
				}
				else if (data.ping < 200)
				{
					ping_color = 'yellow';
				}
				else
				{
					ping_color = 'red';
				}
				$('#player-ping').addClass('bg-' + ping_color);

				$('#info-box').collapse('show');

				/* Location */

				var pos = {
					lat: data.latitude,
					lng: data.longitude
				};
				var marker = new google.maps.Marker({position: pos, map: map});
				map.setCenter(pos);

				var options = {
					timeZone: data.timezone,
					hour: 'numeric', minute: 'numeric', second: 'numeric',
					hour12: false,
				};

				$('#player-city').html(data.city);
				$('#player-country').html(data.country);
				$('#player-time').html((new Date()).toLocaleString([], options));

				$('#map-box').collapse('show');
			})
			.fail(function(jqxhr, status, error)
			{
				if (jqxhr.status == 404)
				{
					$('#gone-box').collapse('show');
				}
			});
		}

		$('#ban').click(function()
		{
			$('#ban').prop("disabled", true);

			$.ajax
			({
				data: JSON.stringify({message: reason, minutes: period}),
				method: 'PUT',
				url: api_url + '/players/' + player
			})
			.done(function(data, status, jqxhr)
			{
				$(location).attr('href', site_url + '/players');
			})
			.fail(function(jqxhr, status, error)
			{
				/* TODO: show error */
				$('#ban').prop("disabled", false);
			});
		});

		$('#kick').click(function()
		{
			$('#kick').prop("disabled", true);

			$.ajax
			({
				data: JSON.stringify({message: reason}),
				method: 'DELETE',
				url: api_url + '/players/' + player
			})
			.done(function(data, status, jqxhr)
			{
				$(location).attr('href', site_url + '/players');
			})
			.fail(function(jqxhr, status, error)
			{
				/* TODO: show error */
				$('#kick').prop("disabled", false);
			});
		});

		$('#period label').click(function()
		{
			period = $(this).children().first().data('value');
			if (reason)
			{
				$('#ban').removeAttr('disabled');
			}
		});

		$('#reason label').click(function()
		{
			reason = $(this).children().first().data('value');
			$('#kick').removeAttr('disabled');
			if (period)
			{
				$('#ban').removeAttr('disabled');
			}
		});
	</script>
	{{/* Google Maps API */}}
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .google }}&callback=initMap"
	        type="text/javascript"></script>
{{ end }}
