{{ define "title" }}Player{{ end }}
{{ define "icon" }}user{{ end }}
{{ define "description" }}{{ .player }}{{ end }}
{{ define "css" }}
{{ end }}

{{ define "content" }}
{{ end }}

{{ define "scripts" }}
{{ end }}
