{{ define "title" }}Players{{ end }}
{{ define "icon" }}user{{ end }}
{{ define "description" }}Control{{ end }}
{{ define "css" }}
	<style>
		#refresh {
			padding: 4px 8px !important;
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">List</h3>
					<div class="box-tools">
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="refresh"><i class="fa fa-repeat"></i></button>
						</div>
					</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody id="players">
							<tr>
								<th>Name</th>
								<th>Score</th>
								<th>Connected</th>
								<th>Ping</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	<script>
		function time_from_seconds(seconds)
		{
			s = Math.floor(seconds)
			m = Math.floor(s / 60);
			h = Math.floor(m / 60);

			m = m - h * 60;
			s = s - m * 60;

			t = s
			if (s < 10)
			{
				t = "0" + s
			}

			t = m + ":" + t
			if (m < 10)
			{
				t = "0" + t
			}

			if (h > 0)
			{
				t = h + ":" + t
			}

			return t
		}

		function get_players()
		{
			$.ajax
			({
				url: api_url + '/players'
			})
			.done(function(data, status, jqxhr)
			{
				$.each(data, function(i, player)
				{
					var $tr = $('<tr>').append(
						$('<td>').text(player.name),
						$('<td>').text(player.score),
						$('<td>').text(time_from_seconds(player.duration)),
						$('<td>').text(player.ping),
					);
					$tr.appendTo('#players');
				});
			})
			.fail(function(jqxhr, status, error)
			{
				console.log(error);
			});
		};

		get_players();
	</script>
{{ end }}
