{{ define "title" }}{{ .player }}{{ end }}
{{ define "icon" }}user{{ end }}
{{ define "description" }}Profile{{ end }}

{{ define "css" }}
	<style>
		.btn-group.justified {
			display: flex;
		}

		.justified .btn {
			flex: 1;
		}

		.margin-bottom-5 {
			margin-bottom: 5px !important;
		}

		.map-body {
			height: 400px;
		}

		#map {
			height: 100%;
		}
	</style>
{{ end }}

{{ define "breadcrumb"}}
	<li><a href="{{ .site.URL }}/players"><i class="fa fa-users"></i> Players</a></li>
	<li class="active"><i class="fa fa-{{ template "icon" . }}"></i> {{ template "title" . }}</li>
{{ end }}

{{ define "content" }}
	<div class="row">
		<div class="col-sm-4 collapse" id="gone-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Info</h3>
				</div>
				<div class="box-body">
					Player has left server, but you still can ban him.
				</div>
			</div>
		</div>

		<div class="col-sm-4 collapse" id="info-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Info</h3>
				</div>
				<div class="box-body">
					No info
				</div>
			</div>
		</div>

		<div class="col-sm-4 collapse" id="map-box">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Location</h3>
				</div>
				<div class="box-body map-body">
					<div id="map"></div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Action</h3>
				</div>
				<div class="box-body">
					<div class="btn-group btn-group-toggle justified margin-bottom-5" data-toggle="buttons" id="reason">
						<label class="btn btn-primary"><input type="radio" data-value="AFK" >AFK</label>
						<label class="btn btn-primary"><input type="radio" data-value="GTFO">GTFO</label>
						<label class="btn btn-primary"><input type="radio" data-value="NAZI">NAZI</label>
						<label class="btn btn-primary"><input type="radio" data-value="TK"  >TK</label>
					</div>
					<div class="btn-group btn-group-toggle justified margin-bottom-5" data-toggle="buttons" id="period">
						<label class="btn btn-primary"><input type="radio" data-value="60"   >1H</label>
						<label class="btn btn-primary"><input type="radio" data-value="180"  >3H</label>
						<label class="btn btn-primary"><input type="radio" data-value="1440" >1D</label>
						<label class="btn btn-primary"><input type="radio" data-value="4320" >3D</label>
						<label class="btn btn-primary"><input type="radio" data-value="10080">7D</label>
						<label class="btn btn-primary"><input type="radio" data-value="0"    >*</label>
					</div>
					<button type="button" class="btn btn-block btn-warning" id="kick" disabled>Kick</button>
					<button type="button" class="btn btn-block btn-danger" id="ban" disabled>Ban</button>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	<script>
		var map, map_style;
		var player = "{{ .player }}";
		var period, reason;

		function initMap()
		{
			load_map_json(load_map_json_callback);
		}

		function load_map_json(callback)
		{
			var xobj = new XMLHttpRequest();
			xobj.overrideMimeType('application/json');
			xobj.open('GET', '{{ .site.URL }}/static/map-style.json', true);
			xobj.onreadystatechange = function()
			{
				if (xobj.readyState == 4 && xobj.status == "200")
				{
					callback(xobj.responseText);
				}
			};
			xobj.send(null);
		}

		function load_map_json_callback(response)
		{
			map_style = JSON.parse(response);

			var styled_map_type = new google.maps.StyledMapType(map_style, {name: 'Map'});
			map = new google.maps.Map(document.getElementById('map'), {
				zoom: 5,
				center: {
					lat: 0,
					lng: 0
				},
				mapTypeControlOptions: {
					mapTypeIds: ['satellite', 'styled_map']
				},
				mapTypeControl: false,
				streetViewControl: false,
			});

			map.mapTypes.set('styled_map', styled_map_type);
			map.setMapTypeId('styled_map');

			map_initialized();
		}

		function map_initialized()
		{
			$.ajax
			({
				url: api_url + '/players/' + player
			})
			.done(function(data, status, jqxhr)
			{
				/* TODO: remove me */
				console.log('data=', data);

				/* Info */

				$('#info-box').collapse('show');

				/* Location */

				var pos = {
					lat: data.latitude,
					lng: data.longitude
				};
				var marker = new google.maps.Marker({position: pos, map: map});
				map.setCenter(pos);

				$('#map-box').collapse('show');
			})
			.fail(function(jqxhr, status, error)
			{
				if (jqxhr.status == 404)
				{
					$('#gone-box').collapse('show');
				}
			});
		}

		$('#ban').click(function()
		{
			console.log('Ban player ' + player + ' for ' + period + ' minutes, reason: ' + reason);
		});

		$('#kick').click(function()
		{
			console.log('Kick player ' + player + ', reason: ' + reason);
		});

		$('#period label').click(function()
		{
			period = $(this).children().first().data('value');
			if (reason)
			{
				$('#ban').removeAttr("disabled");
			}
		});

		$('#reason label').click(function()
		{
			reason = $(this).children().first().data('value');
			$('#kick').removeAttr("disabled");
			if (period)
			{
				$('#ban').removeAttr("disabled");
			}
		});
	</script>
	{{/* Google Maps API */}}
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .google }}&callback=initMap"
	        type="text/javascript"></script>
{{ end }}
