{{ define "title" }}Players{{ end }}
{{ define "icon" }}users{{ end }}
{{ define "description" }}Control{{ end }}
{{ define "css" }}
	{{/* Flag-Icon-CSS */}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.css"
	      crossorigin="anonymous" integrity="sha256-jrNAqq4Gy0Gg2b6G6l0n57dPr6N1twCn+JMqY8x3l88=">
	<style>
		#refresh {
			padding: 4px 8px !important;
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">List</h3>
					<div class="box-tools">
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="refresh"><i class="fa fa-repeat"></i></button>
						</div>
					</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover" id="players-table">
						<thead>
							<tr>
								<th style="width: 50px;">Country</th>
								<th>Name</th>
								<th>Score</th>
								<th>Connected</th>
								<th>Ping</th>
							</tr>
						</thead>
						<tbody id="players">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
	<script>
		function time_from_seconds(seconds)
		{
			s = Math.floor(seconds)
			m = Math.floor(s / 60);
			h = Math.floor(m / 60);

			m = m - h * 60;
			s = s - m * 60 - h * 3600;

			t = s
			if (s < 10)
			{
				t = "0" + s
			}

			t = m + ":" + t
			if (m < 10)
			{
				t = "0" + t
			}

			if (h > 0)
			{
				t = h + ":" + t
			}

			return t
		}

		function get_players()
		{
			$.ajax
			({
				url: api_url + '/players'
			})
			.done(function(data, status, jqxhr)
			{
				$('#players-table tbody').empty();

				$.each(data, function(i, player)
				{
					var $tr = $('<tr>').append(
						$('<td>').html('<span class="flag-icon flag-icon-' + player.country_iso.toLowerCase() + '" title="' + player.country + '"></span>'),
						$('<td>').text(player.name),
						$('<td>').text(player.score),
						$('<td>').text(time_from_seconds(player.duration)),
						$('<td>').text(player.ping),
					);
					$tr.data("id", player.id);
					$tr.data("ip", player.ip);
					$tr.appendTo('#players');
				});
			})
			.fail(function(jqxhr, status, error)
			{
				console.log(error);
			});
		};

		$('#refresh').click(function()
		{
			get_players();
		});

		$('#players-table tbody').on('click', 'tr', function(e)
		{
			var id = $(this).data('id');
			var ip = $(this).data('ip');
			$(location).attr('href', site_url + '/players/' + id + '/' + ip);
		});

		$(function () {
			get_players();
		});
	</script>
{{ end }}
