{{ define "title" }}Players{{ end }}
{{ define "icon" }}user{{ end }}
{{ define "description" }}Control{{ end }}
{{ define "css" }}{{ end }}
{{ define "content" }}{{ end }}
{{ define "scripts" }}{{ end }}
